
  <div class="banners orbit" role="region" aria-label="Hulls Angels Roller Derby" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <div class="orbit-wrapper">
      {{#compare banners.length 1 operator=">"}}
      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>
      {{/compare}}
      <ul class="orbit-container"> 
        {{#each banners}}
            <li class="orbit-slide">
              <figure class="orbit-figure">
                  <a href="#">
                    <img class="orbit-image" src="{{root}}assets/img/banners/{{this}}" alt="Hulls Angels Roller Derby - Banner {{@index}}">
                  </a>
              </figure>
            </li>
        {{/each}}

      </ul>

     <!-- <div class="banner__caption orbit-caption">
          <h1>Hulls Angels<span>Roller Derby</span></h1>
      </div> -->
    </div>
  </div>


