<footer class="footer">
  <div class="grid-x grid-padding-x social-wrapper">
    <div class="small-4 cell text-right">
      <a href="https://www.facebook.com/hullsangelsrollerderby" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
    </div>
    <div class="small-4 cell text-center">
      <a href="https://www.instagram.com/hullsangels/?hl=en" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
    </div>
    <div class="small-4 cell text-left">
      <a href="https://twitter.com/hullsangels" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a>
    </div>
  </div>    
  <div class="grid-x grid-padding-x align-center aff-wrapper">

      <a href="https://ukrda.org.uk" target="_blank" title="United Kingdom Roller Derby Association (UKRDA)">
        <img src="{{root}}assets/img/UKRDA-Colour.gif" alt="United Kingdom Roller Derby Association (UKRDA)" />
      </a>
      <a href="https://wftda.com/" target="_blank" title="Women’s Flat Track Derby Association (WFTDA)">
        <img src="{{root}}assets/img/wftda-logo.gif" alt="Women’s Flat Track Derby Association (WFTDA)" />
      </a>

  </div>
  <div class="grid-x grid-padding-x align-center">
    <nav class="footer-nav">
        <ul class="menu align-center">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Cookie Policy</a></li>
        </ul>
    </nav>
  </div>
</footer>