<footer class="footer">
  <div class="grid-x grid-padding-x social-wrapper">
    <div class="small-4 cell text-right">
      <a href="https://www.facebook.com/hullsangelsrollerderby" target="_blank" title="Follow HARD on Facebook" class="fab fa-facebook-square fa-3x">Facebook</a>
    </div>
    <div class="small-4 cell text-center">
      <a href="https://www.instagram.com/hullsangels/?hl=en" target="_blank" title="Follow HARD on Instagram"  class="fab fa-instagram fa-3x">Instagram</a>
    </div>
    <div class="small-4 cell text-left">
      <a href="https://twitter.com/hullsangels" target="_blank" title="Follow HARD on Twitter" class="fab fa-twitter-square fa-3x">Twitter</a>
    </div>
  </div>    
  <div class="grid-x grid-padding-x align-center aff-wrapper">

      <a href="https://ukrda.org.uk" target="_blank" title="United Kingdom Roller Derby Association (UKRDA)">
        <img src="{{root}}assets/img/UKRDA-Colour.gif" alt="United Kingdom Roller Derby Association (UKRDA)" />
      </a>
      <a href="https://wftda.com/" target="_blank" title="Women’s Flat Track Derby Association (WFTDA)">
        <img src="{{root}}assets/img/wftda-logo.gif" alt="Women’s Flat Track Derby Association (WFTDA)" />
      </a>
      <!-- <a href="https://www.britishchamps.com/team/hulls-angels-roller-derby" target="_blank" title="British Roller Derby Championships">
        <img src="{{root}}assets/img/British-Champs-Logo-Transparent.png" alt="British Roller Derby Championships" />
      </a> -->

  </div>
  <div class="grid-x grid-padding-x align-center">
    <nav class="footer-nav">
        <ul class="menu align-center">
            <li><a href="/cookiepolicy">Privacy & Cookie Policy</a></li>
            <li><a href="https://www.dbrooksphoto.co.uk/" target="_blank">All photography copyright Darryl Brooks</a></li>
        </ul>
    </nav>
  </div>
</footer>