<div class="grid-container full">
  <div class="grid-x">

    <div class="cell small-4">
      <a class="sub-menu__item text-center" href="">
        <div class="sub-menu__bg" style="background-image: url('{{root}}assets/img/get-involved/get-involved-skate-2.jpg')"></div>
        <h3 class="sub-menu__title">Skate</h3>
      </a>
    </div>

    <div class="cell small-4">
        <a class="sub-menu__item text-center" href="">
          <div class="sub-menu__bg" style="background-image: url('{{root}}assets/img/get-involved/get-involved-official.jpg')"></div>
          <h3 class="sub-menu__title">Official</h3>
        </a>
    </div>

    <div class="cell small-4">
        <a class="sub-menu__item text-center" href="">
          <div class="sub-menu__bg" style="background-image: url('{{root}}assets/img/get-involved/non-skating-official.jpg')"></div>
          <h3 class="sub-menu__title">NSO</h3>
        </a>
      </div>

  </div>
</div>